.block-ttv-assistant{
  display: none;
  position: fixed;
  right: 1em;
  top: 25%;
  z-index: 1;
}
.bubble{
  float: right;
  display: inline-block;
  background-color: #fff;
  padding: 10px;
  border-top-left-radius: 2em;
  border-bottom-right-radius: 2em;
}
#assistant h2{
  color: red;
}
#assistant-visual{
  float: right;
  max-width: 10em;
  /*display: inline-block;*/
  margin-left: 1em;
  min-width: 5em;
}
#assistant-visual img{
  max-width: 100%;
}
.apply-term{
  padding-left: .5em;
  min-width: 1em;
  display: inline-block;
}
.apply-term::after{
  content:'\2713';
  display:inline-block;
  color:red;
  padding: 0;
  font-size: 1.5em;
}

.box1 {
  width: 300px;
  margin: 30px auto;
  border: 4px solid #1e5c90;
  padding: 20px;
  font-weight: 900;
  position: relative;
}

.bubble::before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 10px solid #1e5c90;
  border-right: 10px solid transparent;
  border-top: 10px solid #1e5c90;
  border-bottom: 10px solid transparent;
  right: -21px;
  top: 6px;
}

.bubble:after {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 7px solid #fff;
  border-right: 7px solid transparent;
  border-top: 7px solid #fff;
  border-bottom: 7px solid transparent;
  right: -11px;
  top: 10px;
}
span.term{
  border: 1px solid #000;
  padding: 5px;
  border-radius: 3px;
  display: inline-block;
  margin: 5px 5px;
}
span.term:hover{
  opacity: .75;
}
.term-field h3 {
  color: #1e5c90;
  text-align: center;
  border-bottom: 1px solid #b8b8b8;
}
.term-field h3:after{
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 7px solid #fff;
  border-right: 7px solid transparent;
  border-top: 7px solid #fff;
  border-bottom: 7px solid transparent;
  right: -11px;
  top: 10px;
}
#assistant-visual,
.term-field .term-name {
  cursor: pointer;
}
@keyframes blink {
  50% {
    opacity: 0.0;
  }
}
@-webkit-keyframes blink {
  50% {
    opacity: 0.0;
  }
}
.blink {
  animation: blink .5s step-start 0s infinite;
  -webkit-animation: blink .5s step-start 0s infinite;
}
