{#
/**
 * @file
 * Theme implementation for FYI notification.
 */
#}
<div id='assistant'>
  <div id='assistant-visual'>
    <img src="{{- assistant_config.avatar -}}" />
  </div>
  <div class='box1 bubble'>
  <h2>{{- assistant_config.message|t -}}</h2>
  <div id='term-result'></div>
  </div>
</div>
